.fundoHome{
    background-image: url(https://ik.imagekit.io/2x0ly2dmob/Arte3.jpg?updatedAt=1725978526913);
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
}